@import './css/Card.css';
@import './css/StocksWatchTable.css';
@import './css/Button.css';
@import './css/SideBar.css';

.layout-main {
  -moz-transition: 0.42s;
  -o-transition: 0.42s;
  -webkit-transition: 0.42s;
  transition: 0.42s;
}
.layout-main.side-bar-visible {
  margin-left: 268px;
}